name: Gradle Package

on:
  release:
    types: [ created ]
  # 这里的 workflow_dispatch 允许手动点击按钮触发
  workflow_dispatch:
    inputs:
      skip_publish:
        description: '仅构建不发布 (Skip Publish)'
        required: true
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
        
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build
      
      # 这一步的if 作用是检测是否是发布事件，或者手动触发的 手动触发不发布版本
      - name: Publish to GitHub Packages
        if: ${{ github.event_name == 'release' || (github.event_name == 'workflow_dispatch' && inputs.skip_publish == false) }}
        run: ./gradlew publish
        env:
          USERNAME: ${{ github.actor }}
          TOKEN: ${{ secrets.GITHUB_TOKEN }}